[Unit]
Description=Valheim service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=<username>
WorkingDirectory=/home/<username>/Valheim
ExecStart=/bin/bash /home/<username>/Valheim/valheim.sh

[Install]
WantedBy=multi-user.target
